body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(243, 240, 240);
}
.container {
    display: inline-block;
    width: 1000px;
    margin-top: 20px;
    margin-left: calc(50% - 500px);
}

.elements {
    position: relative;
    display: inline-block;
    width: 246px;
    padding-top: 10px;
}

.imgdiv {
    margin: 15px;
    height: 200px;
    width: 200px;
    margin: 15px;
}
img {
    display: inline-block;
    height: 200px;
    width: 200px;
    padding: 20px;
    
    /*filter: invert(100%);*/
}

.elements > h1 {
    display: inline-block;
    color: red;
    text-align: center;
    font-size: large;
    padding: 10px 25px 5px 25px;
    width: 245px;
    text-transform: uppercase;
}

.elements > .p-apacia {
    display: inline-block;
    padding: 0 10px 10px 0px;
    width: 245px;
    text-align: center;
    font-size: small;
    color: rgb(104, 99, 99);
}
.elements > .p-virsus{
    position: absolute;
    top: 10px;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    border: 2px;
    line-height: 21px;
}